
.idea/runConfigurations.xml
out/production/sololearn_java/com/sparrowww/sololearn/java/Animal.class
out/production/sololearn_java/com/sparrowww/sololearn/java/Cat.class
out/production/sololearn_java/com/sparrowww/sololearn/java/Main.class
out/production/sololearn_java/com/sparrowww/sololearn/java/myabstract/AbstractBook.class
